In [1]:
import pandas as pd
df = pd.read_csv('NBA_Season_Stats.csv')

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,144.0,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,102.0,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,174.0,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,22.0,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,21.0,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27938,3314,2015.0,Thaddeus Young,PF,26.0,TOT,76.0,68.0,32.0,5.9,...,0.655,1.7,3.7,5.4,2.3,1.6,0.3,1.5,2.3,14.1
27939,3315,2015.0,Thaddeus Young,PF,26.0,MIN,48.0,48.0,33.4,6.0,...,0.682,1.6,3.5,5.1,2.8,1.8,0.4,1.6,2.4,14.3
27940,3316,2015.0,Thaddeus Young,PF,26.0,BRK,28.0,20.0,29.6,5.8,...,0.606,1.9,4.1,5.9,1.4,1.4,0.3,1.5,2.0,13.8
27941,3317,2015.0,Cody Zeller,C,22.0,CHO,62.0,45.0,24.0,2.8,...,0.774,1.6,4.3,5.8,1.6,0.5,0.8,1.0,2.5,7.6
27942,3318,2015.0,Tyler Zeller,C,25.0,BOS,82.0,59.0,21.1,4.1,...,0.823,1.8,3.9,5.7,1.4,0.2,0.6,0.9,2.5,10.2

In [9]:
#data cleaning->need to replace missing values needed for PER calculation
#used this site to help clean: https://www.basketball-reference.com/about/per.html

df['3P'] = df['3P'].fillna(0)
df['3PA'] = df['3PA'].fillna(0)
df['3P%'] = df['3P%'].fillna(0)
df['STL'] = df['STL'].fillna(0)
df['BLK'] = df['BLK'].fillna(0)
df['TOV'] = df['TOV'].fillna(0)

df['ORB'] = df['ORB'].fillna(.3 * df['TRB'])
df['DRB'] = df['DRB'].fillna(.7 * df['TRB'])

df['PER'] = ((df['FG'] * 85.910) + (df['STL'] * 53.897) + (df['3P']* 51.757 )+ (df['FT']* 46.845 )+ (df['BLK'] * 39.190) + (df['ORB'] * 39.190) + (df['AST'] * 34.677 )+ (df['DRB'] * 14.707 )- (df['PF'] * 17.174) - ((df['FTA']-df['FT']) * 20.091) - ((df['FGA']-df['FG']) * 39.190) - (df['TOV'] * 53.897))/df['MP'] 


df['PER'] = df['PER'].fillna(15) #estimates players prior to 1952 to be avg (15)


df.to_csv("NBA_STATS_WITH_PER.csv")